<app-header [show]="true" [img]="'../../../assets/img/' + activeBuilding?.pdfCatalogUrl + '.png'"></app-header>

<app-ribbon *ngIf="buildingIsReady && activeBuilding.id === 11" style="dark">
  {{'ONLY5'| translate}} {{a}} {{'Left5' | translate}}
</app-ribbon>

<app-ribbon *ngIf="buildingIsReady && activeBuilding.id === 9" style="warrning">
  {{'ONLY5' | translate}} {{a}} {{'Left5' | translate}}
</app-ribbon>

<app-container>
  <app-reserve [activeBuilding]="activeBuilding"></app-reserve>
</app-container>

<app-building *ngIf="buildingIsReady"
              [equipment]="equipment"
              [activeFloor]="active"
              [floorApartment]="floorApartment"
              [floors]="floors"
              [activeBuilding]="activeBuilding"
              [buildingId]="buildingId"
              [garages]="garages">
</app-building>

<app-ribbon [style]="'gold'"></app-ribbon>
<app-ribbon [style]="'dark'">{{'ApartmentLocation' | translate}}</app-ribbon>

<div class="container" *ngIf="buildingId == 9">
<!--  <app-google-map *ngIf="activeBuilding" [activeBuilding]="activeBuilding" [buildingId]="buildingId"></app-google-map>-->
  <app-ribbon [style]="'dark'">{{'Finished' | translate}}</app-ribbon>
</div>
<div class="container" *ngIf="buildingId == 11">
<!--  <app-google-map *ngIf="activeBuilding" [activeBuilding]="activeBuilding" [buildingId]="buildingId"></app-google-map>-->
  <app-ribbon [style]="'dark'">{{'Finished' | translate}}</app-ribbon>
</div>
<div class="container" *ngIf="buildingId == 12">
<!--  <app-google-map *ngIf="activeBuilding" [activeBuilding]="activeBuilding" [buildingId]="buildingId"></app-google-map>-->
  <app-ribbon [style]="'dark'">{{'Finished' | translate}}</app-ribbon>
</div>

<div class="container" *ngIf="buildingId == 13">
<!--  <app-google-map *ngIf="activeBuilding" [activeBuilding]="activeBuilding" [buildingId]="buildingId"></app-google-map>-->
  <app-ribbon [style]="'dark'">{{'Finished' | translate}}</app-ribbon>
</div>

<div class="block" style="margin: 80px auto">
  <app-block-list>
    <app-block-list-item></app-block-list-item>
  </app-block-list>
</div>


