
@import "../../../style/palette";

.container {
	padding-top: 40px;
	padding-bottom: 40px;
}
h1 {
	height: 150px;
	width: 150px;
	border-radius: 75px;
	background: $gi-graphite;
	text-align: center;
	display: flex;
	align-self: center;
	justify-content: space-around;
	flex-direction: column-reverse;
	font-size: 30px;
	color: $gi-gold;
	box-sizing: border-box;

}
.h1 {
	color: white;
	font-size: 40px;
}

.fa {
	font-size: 40px;
	transition: .2s;
	&:hover{
		transform: scale(1.4);
		transition: .2s;
	}

}


p {
	padding: 10px 22px;
	text-align: center;
	font-weight: 300;
	display: flex;
	flex-direction: column;
}
.col-sm-4 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: .2s ;
	transition-timing-function: ease-in;
	padding-top: 40px;
	&:hover {
		transform: scale(1.1);

	}
}

@media screen and (max-width: 768px){
	.container{
		padding-top: 40px;

		.row{
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			.col-sm-4{
				max-width: 100%;
				align-self: center;
				padding-top: 0;
			}
		}
	}
}
@media screen and (max-width: 570px){
	.container{
		padding-top: 40px;

		.row{
			display: flex;
			flex-direction: column;
			width: 100%;
			align-self: center;
			margin-left: 0 !important;
			margin-right: 0 !important;
			.col-sm-4{
				max-width: 100%;
				align-self: center;
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 0;
				justify-content: flex-start;
			}
		}
		h1 {
			height: 70px;
			width: 70px;
			border-radius: 35px;
			background: $gi-graphite;
			text-align: center;
			display: flex;
			align-self: center;
			justify-content: space-around;
			flex-direction: column-reverse;
			font-size: 25px;
			color: $gi-gold;
			box-sizing: border-box;

		}
		.h1 {
			color: white;
			font-size: 25px;
		}
		.fa{
			font-size: 25px;
		}
		p {
			padding: 0 10px;
			font-size: 14px;

		}
	}
}
