@import 'style/_palette.scss';


section.site {
	.container{
		width: 1200px;
		z-index: 20;
		padding: 0;
	}

  header.header {

    display: flex;
    background: $gi-charcoal;
   min-height: 53px;
	flex-direction: row;
  }
}
