
@import "../../../style/palette";


h1 {
	font-size: 24px ;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: $gi-gold;
	margin: 0;
	text-align: center;
	padding: 40px 0;
}
p.subtitle {
	font-size: 20px;
	font-weight: 100;
	color: $gi-gold;
	padding: 40px 0;
	text-align: center;
	margin: 0;
}
hr {
	width: 60px;
	height: 3px;
	display: block;
	margin: auto;
	background: $gi-gold;
}
p.form {
	color: $gi-gold;
	font-size: 14px;
	font-weight: 300;
	font-family: Roboto, sans-serif;
	padding: 15px 0;
}
p.success {
	color: $gi-gold;
	font-size: 14px;
	font-weight: 300;
	font-family: Roboto, sans-serif;
	margin-top: 20px;
	transition: 0.2s;
}
.container-fluid {
	background: $gi-graphite;
}
.col-sm-12{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.col-sm-6.left{
	 padding-left: 15%;
	 padding-right: 40px;
	 padding-top: 20px;
	 padding-bottom: 20px;
 }
.col-sm-6.right{
	padding-right: 15%;
	padding-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-control {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	color:$gi-asphalt;
	background: transparent;
	outline-color: $gi-gold;
	background: $gi-asphalt;
}
input[type=text] {
	background: transparent;
	color: $gi-gold;
	outline: $gi-gold;
	font-family: Roboto, sans-serif;
	font-weight: 100;
}
input::placeholder {
	color: rgba($gi-gold,.5) !important;
	font-weight: 100;
	font-family: Roboto, sans-serif;
}
.form-control {
	border: 1px solid $gi-gold;
	border-radius: 0;
	color: $gi-gold;
	transition: .2s;
	&:focus {
		background: transparent;
		outline-color: $gi-gold;
		color: $gi-gold;
		border-color: rgba($gi-gold, .5);
		transform: scale(1.1);
		transition: .2s;
	}
}
textarea.form-control{
	background: transparent;
	font-weight: 100;
	font-family: Roboto, sans-serif;

}
textarea::placeholder {
	color: rgba($gi-gold,.5) !important;
	font-weight: 100;
	font-family: Roboto, sans-serif;
}

.btn {
	transition: .2s;
	&.btn-gold {
		background:$gi-gold;
		margin-top: 40px;
		margin-bottom: 20px;
		border: none !important;
		color: $gi-graphite;
		transition: .2s;
		border-radius: 0;
		&:hover {
			transition: .2s;
			transform: scale(1.1);
			color: white;
		}
	}
}

@media screen and (max-width: 570px){
	.col-sm-6.left{
		padding-left: 0;
		padding-right: 0;

	}
	.col-sm-6.right{
		padding-right: 0;
		padding-left: 0;

	}
	.col-sm-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn {
		width: 100%;
	}
}

