<!--<ngbox></ngbox>-->
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			<h2>
<!--        <span class="vila">{{'Villa' | translate}}</span><span class="leonardo">{{'Leonardo' | translate}}</span>-->
        <span class="iv">{{activeBuilding?.name | uppercase}}</span></h2>
			<h3><span class="vila">{{apartment?.name | translate}}</span><span class="leonardo">
        <span class="leonardo" *ngIf="apartment?.id == 83 || apartment?.id == 84 || apartment?.id == 85 || apartment?.id == 86">0</span>{{apartment?.apartmentNumber}}
			</span></h3>
			<p *ngIf="activeFloor">
				{{'ApartmentP1' | translate}} {{apartment?.area}}m2. {{'ApartmentP2' | translate}} {{activeFloor | translate}}, {{apartment?.side | translate}} {{'ApartmentP3' | translate}}. {{'ApartmentP4' | translate}}  {{apartment?.rooms}} {{'ApartmentP5' | translate}}.
				{{'ApartmentP6' | translate}}.
			</p>
			<p *ngIf="this.apartment?.id == 29 || this.apartment?.id ==30" style="margin: 0;padding-top: 0;">{{text | translate}}<p>
			<button class="btn btn-gold" routerLink="/kontakt">{{'ReserveOnTime' | translate}}</button>
		</div>
		<div class="col-sm-4" *ngIf="apartment && apartment?.imgHailight;else aptNoPic">
			<!--<div [src]="'../../../../assets/img/' + apartment.imgHailight"
           [image]="true"
           [cache]="true"
           [style.display.none]="title"
           style="z-index: 200;cursor: pointer;transition: 0.2s;height: 100%;width: 100%;">
				<img [src]="'../../../../assets/img/' + apartment?.imgBase + '.png'">
			</div>-->
      <img [src]="'../../../../assets/img/' + apartment?.imgBase + '.png'">
		</div>
    <ng-template #aptNoPic>
      <div class="col-sm-4">
        <img [src]="'../../../../assets/img/' + apartment?.imgBase + '.png'">
      </div>
    </ng-template>
	</div>
</div>
