<div class="map">
  <h1>
    {{'Interested' | translate}}
    <span>
            {{'Interested2' | translate}}
        </span>
  </h1>

  <div class="content">
    <div class="m">
      <app-google-map [isContact]="true" style="height: 311px;width: 100%"></app-google-map>
    </div>
    <div class="description">

      <div class="block">
        <span class="label">Gold Invest Nekretnine</span>
        <span class="val">Kraljev Trg bb, 31315 Zlatibor</span>
      </div>

      <div class="block">
        <span class="label">{{'Phone' | translate}}</span>
        <span class="val">+381 (0) 63 313 444</span>
        <span class="val">+381 (0) 63 665 555</span>
      </div>


      <div class="block">
        <span class="label">{{'Email' | translate}}</span>
        <span class="val">goldinvestnekretnine@gmail.com</span>
      </div>
    </div>
  </div>
</div>
