p {
	font-weight:300;
	padding: 20px;
}

h1 {
	font-weight: 300;
	padding: 20px;
	font-size: 18px;
}

.btn.btn-gold {
	text-decoration: none !important;
}

@media screen and (max-width: 570px){
	a.btn.btn-gold.center.mb-40 {
		margin-bottom: 0;
		width: 100%;
	}
	p {
		text-align: center;
		padding-top: 20px !important;

	}
}
