<div class="block-list-item"
     *ngFor="let b of buildings | sortPipe:orderList;let i = index"
     [class.hidden]="!b.block">
  <h1>{{b.name | translate}}</h1>
  <div class="img">
    <img [src]="'../../../../assets/img/' + b.mainImage + '.png' " width="120" height="120">
  </div>
  <div class="details">
    <div class="location">{{b.city | translate}}</div>
    <div class="completed">{{'FinishedYear' | translate}} {{b.finished}}. {{'Year' | translate}}</div>
    <div class="reg-title">{{'UsePermit' | translate}}</div>
    <div class="reg-number">{{b.contract}}</div>
    <div
      [class.sold]="b.soldOut === 'RASPRODATO'"
      [class.free]="b.soldOut === 'SLOBODNO'">
      {{b.soldOut | translate}}
    </div>
  </div>
  <a class="btn btn-dark" *ngIf="b.block" style="z-index: 0;position: relative" (click)="openModal(1, 0, b)">
    {{'Photos' | translate}}
  </a>
</div>





