@import "../../../style/palette";

.faq {

  background: $gi-charcoal;
  padding: 40px;
  color: #fff;

  h1 {

    font-size: 23px;
    color: $gi-gold;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
  }

  .content {

    display: flex;
    margin: auto;
    width: 1200px;
    max-width: 90%;
    justify-content: space-between;

    .list {

      min-width: 400px;
      list-style: none;
      margin-right: 50px;


      li {

        background: rgba($gi-gold, .2);
        padding: 20px 40px 20px 20px;
        cursor: pointer;
		  font-size: 14px;
		  font-weight: 300;

        transition: background .2s;

        &:nth-child(odd) {

          background: rgba($gi-gold, .1);
        }

        &.active {

          background: $gi-gold;
          position: relative;

          &:after {

            content: '';
            position: absolute;
            right: -30px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 42px 0 30px 30px;
            border-color: transparent transparent transparent $gi-gold;
            line-height: 0;

            _border-color: #000000 #000000 #000000 $gi-gold;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
          }
        }

        &:hover {

          background: $gi-gold;
        }
      }
    }

    .description {

		padding-right: 20px;

      p {
		font-size: 16px;
        margin-bottom: 20px;
		  font-weight: 300;

        &:last-child {

          margin-bottom: 0;
        }
      }

      ul {

        margin: 20px 0 0 20px;
        list-style: none;
		  padding-bottom: 20px;

        li {

          position: relative;
			font-size: 14px;
			font-weight: 300;

          &:before {

            position: absolute;
            left: -20px;
            top: 0;
            content: "•";
            font-size: 50px;
            line-height: 20px;
            color: $gi-gold;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 880px){
	.content {
		flex-direction: column;
		.description {
			padding-top: 20px;
			p {
				font-weight: 300;
				font-size: 16px;
			}
		}
	}
	li::after {
		display: none;
	}

	.faq {
		padding: 40px 10px 40px 10px;
	}
}

.disabled {
	display: none;
}
@media screen and (max-width:768px){
	.content {
		.list {
			min-width: 100% !important;
			margin-right: 0;
		}
	}
	.switch {
		margin-top: 20px;
	}


}

